.container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
.container div {
    border: 1px solid;
    display: flex;
    justify-content: center;
}

.box-1 {
  flex: 1;
  order: 1;
}
.box-2 {
  flex: 1;
  order: 2;
}
.box-3 {
  flex: 1;
  order: 3;
}